<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
    <title>Login</title>
</head>

<body>

    <%- include topbar %>
    <div class="container-fluid">

    <% if(typeof loggedin === 'undefined' || loggedin!==true) {%>

        <form class="form-signin" action="/login" method="post">
            <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
            <label for="username" class="sr-only">用户名</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="用户名" required autofocus>
            <label for="password" class="sr-only">密码</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
        <% }else{ %>
        <main role="main">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">场景可视化管理界面</h1>
                    <p>您已作为管理员登录，在这里您可以进行用户管理，场景管理，考核查询等系统管理操作。</p>

                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <a class="btn btn-primary btn-lg" href="/admin/userAdmin" role="button">用户管理 &raquo;</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <a class="btn btn-primary btn-lg" href="/admin/sceneAdmin" role="button">场景管理 &raquo;</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <a class="btn btn-primary btn-lg" href="/exam" role="button">考核查询 &raquo;</a>
                        </p>
                    </div>
                </div>

                <hr>

            </div>
            <!-- /container -->

        </main>
        <% } %>
    </div>
</body>

</html>